<html>
  <head>
    <title>Simple Task Manager</title>
    <style>
        table, td {
           border: 1px solid black;
        }
        .head {
            text-align: center;
        }
    </style>
    <script src="jquery.js"></script>
	<script src="highcharts.src.js"></script>
  </head>
  <body>
    <div class="head">
        <h1>SIMPLE SEARCH ENGINE BOW</h1> 
    </div>
    <div align="center">
        <form method="POST">
            {{ sform.hidden_tag() }}
            <fieldset>
                <legend align="center">Inputkan Query</legend>
                {{ sform.keyword }} 
                {{ sform.search }}
            </fieldset>
        </form>
    </div>
    <br>
    <br>
    <div align="center">
    <b>Document Result:</b><br><br>
        <table>
            <tr>
                <td style="text-align:center">Judul</td>
                <td style="text-align:center">Distance</td>
            </tr>
        {% for v in data %}
            <tr>
            <td style="text-align:center">{{ v[0] }}</td>
            <td style="text-align:center">{{ v[1] }}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <br><br>
    <div id="diagram_batang">
	</div>
	<script>
        var colors = colors: ['#2f7ed8', '#0d233a', '#8bbc21', '#910000', '#1aadce', '#492970', '#f28f43', '#77a1e5', '#c42525', '#a6c96a'];
        // var item = ['rare', 'ultra-rare','very-rare', 'common', 'unique', 'season'];
        var item = [{%  for v in data %} "{{ v[0] }}," {% endfor %}];
        
        //diagram batang
        $('#diagram_batang').highcharts({
            chart: {
                type: 'bar',
            },
            title: {
                text: 'Ini Judul',
            },
            xAxis: {
                categories: item,
                allowDecimals: false
            },
            yAxis: {
                allowDecimals: false
            },
            series: [
            {
                data: [
                
                for (i = 0; i < cars.length; i++) { 
                    {y: i, name: item[i], color: colors[i]},
                }
                // {y: 6, name: item[0], color: colors[0]},
                //     {y: 1, name: item[1], color: colors[1]},
                //     {y: 5, name: item[2], color: colors[2]},
                //     {y: 8, name: item[3], color: colors[3]},

                ]
            },

            ],
            credits: {
                enabled: false
            },
        });     
    </script>
  </body>
</html>
