    <!DOCTYPE HTML>
    <html lang="en">
    <head>
    <meta charset="utf-8">
    <title>Ahoax - When The Truth Revealed</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Styles -->
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}">
    <link rel=stylesheet id='prettyphoto-css' type=text/css href="{{ url_for('static', filename='css/prettyPhoto.css') }}" media='all' >
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/fontello.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <!--[if lt IE 7]>
            <link href="css/fontello-ie7.css" type="text/css" rel="stylesheet">  
        <![endif]-->
    <!-- Google Web fonts -->
    <style>
    body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
    </style>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!-- JQuery -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <!-- Load ScrollTo -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.scrollTo-1.4.2-min.js') }}"></script>
    <!-- Load LocalScroll -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.localscroll-1.2.7-min.js') }}"></script>
    <!-- bootstrap.min -->
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='css/bootstrap/js/bootstrap.min.js') }}"></script> -->
    <!-- Load ProgressBar -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/progressbar.min.js') }}"></script>
    <!-- prettyPhoto Initialization -->
    <script type="text/javascript" charset="utf-8">
          $(document).ready(function(){
            $("a[rel^='prettyPhoto']").prettyPhoto();
          });
        </script>
    </head>
    <body>
    <!--******************** NAVBAR ********************-->
    <div class="navbar-wrapper">
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <!-- Responsive Navbar Part 1: Button for triggering responsive navbar (not covered in tutorial). Include responsive CSS to utilize. -->
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>
            <h1 class="brand"><a href="#top">Ahoax</a></h1>
            <!-- Responsive Navbar Part 2: Place all navbar contents you want collapsed withing .navbar-collapse.collapse. -->
            <nav class="pull-right nav-collapse collapse">
              <ul id="menu-main" class="nav">
                <li><a title="services" href="#services">Services</a></li>
                <li><a title="team" href="#team">Team</a></li>
              </ul>
            </nav>
          </div>
          <!-- /.container -->
        </div>
        <!-- /.navbar-inner -->
      </div>
      <!-- /.navbar -->
    </div>
    <!-- /.navbar-wrapper -->
    <div id="top"></div>
    <!-- ******************** HeaderWrap ********************-->
    <div id="headerwrap">
      <header class="clearfix">
        <h1><span>Ahoax!</span> When The Truth Revealed.</h1>
        <div class="container">
          <div class="row">
            <div class="span12">
            <form method="POST">
            <fieldset>
              {{ sform.hidden_tag() }}
              <h2>Masukkan artikel yang mau dideteksi kebenerannya.</h2>
              <!-- <input type="text" name="your-email" placeholder="Masukkan artikel Anda" class="cform-text" size="40" title="Artikel Anda"> -->
              {{ sform.keyword }} 
              {{ sform.search }}<a href="#services"></a>
              <!-- <a href="#services"><input type="submit" value="Cek Kebenaran" class="cform-submit"></a> -->
            </fieldset>
            </form>
            </div>
          </div>
          <h3 style="margin-top: 10px; color: white; ">*Masukkan lebih dari 500 karakter</h3>
          <div class="row">
            <div class="span12">
              <ul class="icon">
                <li><a href="https://github.com/capteinn/search-engine-python" target="_blank"><i class="fa fa-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </header>
    </div>
    <!--******************** Feature ********************-->
    <div class="scrollblock">
      <section id="feature">
        <div class="container">
          <div class="row">
            <div class="span12">
              <article>
                <p>Jika Peluru membunuh tubuhmu,</p>
                <p>Maka HOAX membunuh pikiranmu!</p>
                <p><small><i>Ketika Kebenaran Terungkap - AHOAX</i></small></p>
              </article>
            </div>
            <!-- ./span12 -->
          </div>
          <!-- .row -->
        </div>
        <!-- ./container -->
      </section>
    </div>
    <hr>
    <!--******************** Services Section ********************-->
    <section id="services" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="icon-cog-circled"></i></div>
        <h1>Hasil Pencarian</h1>
        <!-- Four columns -->
        <div class="row">
          <div class="results">
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ prosentase }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ prosentase }}%">
                {{ prosentase }}%
              </div>
            </div>  
            <p class="indicate"><b>{{ prosentase }}%</b> Terdeteksi HOAX</p>
          </div>
        </div>
        <br>
        <div class="row">
          {% for v in data %}
          <div class="span3">
            <h2>{{ v[0] }}</h2>
            <div class="progress">
              <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ v[1] }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ v[1] }}%">
              {{ v[1] }}%
              </div>
            </div>
            <p class="indicate">Memiliki kemiripan <b>{{ v[1] }}%</b></p>
          </div>
          {% endfor %}
          <!-- /.span3 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <hr>
    <!--******************** Testimonials Section ********************-->
    <section id="testimonials" class="single-page hidden-phone">
      <div class="container">
        <div class="row">
          <div class="blockquote-wrapper">
            <blockquote class="mega">
              <div class="span4">
                <p class="cite">Anonymous :</p>
              </div>
              <div class="span8">
                <p class="alignright">"HOAX, Melindungimu untuk sementara lalu menghancurkan mu untuk selamanya."</p>
              </div>
            </blockquote>
          </div>
          <!-- /.blockquote-wrapper -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <!--******************** Team Section ********************-->
    <section id="team" class="single-page scrollblock">
      <div class="container">
        <div class="align"><i class="icon-group-circled"></i></div>
        <h1>Meet the team</h1>
        <!-- Five columns -->
        <div class="row">
          <div class="span2 offset1">
            <div class="teamalign"> <img class="team-thumb img-circle" src="{{ url_for('static', filename='img/flat-avatar.png') }}" alt=""> </div>
            <h3>Hilmawan</h3>
            <div class="job-position">15/384472/SV08829</div>
          </div>
          <!-- ./span2 -->
          <div class="span2">
            <div class="teamalign"> <img class="team-thumb img-circle" src="{{ url_for('static', filename='img/flat-avatar.png') }}" alt=""> </div>
            <h3>Yulinda</h3>
            <div class="job-position">15/380447/SV/08254</div>
          </div>
          <!-- ./span2 -->
          <div class="span2">
            <div class="teamalign"> <img class="team-thumb img-circle" src="{{ url_for('static', filename='img/flat-avatar.png') }}" alt=""> </div>
            <h3>Aulia</h3>
            <div class="job-position">15/386053/SV/09439</div>
          </div>
          <!-- ./span2 -->
          <div class="span2">
            <div class="teamalign"> <img class="team-thumb img-circle" src="{{ url_for('static', filename='img/flat-avatar.png') }}" alt=""> </div>
            <h3>Rini</h3>
            <div class="job-position">15/386081/SV/09467</div>
          </div>
          <!-- ./span2 -->
          <div class="span2">
            <div class="teamalign"> <img class="team-thumb img-circle" src="{{ url_for('static', filename='img/flat-avatar.png') }}" alt=""> </div>
            <h3>Abdurrahman</h3>
            <div class="job-position">15/386048/SV/09434</div>
          </div>
          <!-- ./span2 -->
        </div>
        <!-- /.row -->
        <div class="row">
          <div class="span10 offset1">
            <hr class="featurette-divider">
            <div class="featurette">
              <h2 class="featurette-heading">Want to know more? <span class="muted">| a little about us</span></h2>
              <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa continuar payar custosi traductores.</p>
              <p>At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun paroles. Ma quande lingues coalesce, li grammatica del resultant lingue es plu simplic e regulari quam ti del coalescent lingues.</p>
              <p>A un Angleso it va semblar un simplificat Angles, quam un skeptic Cambridge amico dit me que Occidental es.</p>
            </div>
            <!-- /.featurette -->
            <hr class="featurette-divider">
          </div>
          <!-- .span10 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </section>
    <hr>
    <div class="footer-wrapper">
      <div class="container">
        <footer>
          <small>&copy; 2013 Inbetwin Network. All rights reserved.</small>
        </footer>
      </div>
      <!-- ./container -->
    </div>
    <!-- Loading the javaScript at the end of the page -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.prettyPhoto.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/site.js') }}"></script>

    <!--ANALYTICS CODE-->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29231762-1']);
	  _gaq.push(['_setDomainName', 'dzyngiri.com']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
  </body>
</html>
